langchain
langchain-chroma
langchain_community
langchain_huggingface
langchain-ollama
langchain-openai
ollama
openai
pdfminer
pdfplumber
pydantic
pypdf
rapidocr-onnxruntime
sentence-transformers
unstructured[pdf]
tiktoken
pytesseract
transformers